.test {
  color: red
}

.outerprogress {
  height: 5px;
  width: 100px;
  background: #DDDDDD;
  /* border-radius: 25%; */
}

.progress {
  height: 100%;
  background:#222323;
}

.text {
  color:#222323;
}

.pink {
  color:#FC395C;
}